praw~=7.1.0
pathlib~=1.0.1
selenium~=3.141.0
bs4~=0.0.1
argparse~=1.4.0
opencv-python~=4.4.0.40
requests~=2.24.0
datetime~=4.3
tensorflow==2.3.0
pandas~=1.1.0
numpy~=1.19.1
scikit-image

Django~=3.1
urllib3~=1.25.10
beautifulsoup4~=4.9.1
pyperclip~=1.8.0
urlvalidator~=0.1
prawcore~=1.5.0